brotlipy==0.7.0
ConfigParser==6.0.0
cryptography==2.3.1
cryptography==3.4.8
Cython==0.29.24
dl==0.1.0
docutils==0.17.1
docutils==0.17.1
docutils==0.19
docutils==0.19
gTTS==2.3.2
HTMLParser==0.0.2
importlib_metadata==4.8.1
importlib_metadata==4.11.3
ipython==7.29.0
ipython==8.2.0
keyring==13.2.1
keyring==23.1.0
lockfile==0.12.2
lxml==4.2.4
lxml==4.6.3
nltk==3.6.5
nltk==3.8.1
numpy==1.15.1
numpy==1.20.3
numpy==1.22.3
ordereddict==1.1
protobuf==3.20.1
pyOpenSSL==18.0.0
pyOpenSSL==21.0.0
pyOpenSSL==23.2.0
pywin32==228
pywin32==303
streamlit==1.24.1
tensorflow==2.8.0
toml==0.10.2
tornado==6.1
xmlrpclib==1.0.1
zipp==3.6.0
zipp==3.8.0
